h3{
     
    text-decoration : underline;
    color: darkturquoise;
    text-decoration-color: black;
}
.vertical--left{

    border-left: thin solid #ff0000;
}

.vertical-left {
    /*padding-top: 50px;*/
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    margin-top: 60px;
    background-color:#f8f8f8;
    overflow-x: hidden;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 

}
.vertical-right {
    /*padding-top: 50px;*/
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    margin-top: 60px;
    background-color:#f8f8f8;
    overflow-x: hidden;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 

}
.page{
    display: flex;
}

.page_sidebar {
    width: 200px;
    
}
.page_content {
    flex: 1
}

.condition-div {
    margin-left: 25%;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 20px;
}